body{
	background-color: rgb(25, 34, 48);
}

@font-face{
	font-family: BebasNeue;
	src: url(../fonts/Bebas_Neue/BebasNeue-Regular.ttf);
}

@font-face{
	font-family: NotoSans;
	src: url(../fonts/Noto_Sans/static/NotoSans-Medium.ttf);
}

.title_font{
	font-family: BebasNeue;
}

.normal_font{
	font-family: NotoSans;
}

.content{
	background: white;
	border-radius: 5px;
	margin-left: 20vw;
	margin-right: 20vw;
}

.img{
	border-radius: 15px;
}

.btn{
	border: 5px solid rgb(30, 49, 79);
	background-color: white;
	cursor: pointer;
	transition-duration: 0.5s;
	border-radius: 5px;
	padding: 10px 21px;
}

.btn:hover{
	background-color: rgb(153, 228, 255);
}

#draggable{
  position: absolute;
  place-items: center;
  cursor: move;
  border: 2px solid #275ddb;
}

.mapframe{
	overflow: hidden;
	width: 100vw;
	height: 100vh;
}

.contentmap{
	position: fixed;
	background: white;
	border-radius: 5px;
	margin-left: 20vw;
	margin-right: 20vw;
	left: 50vw;
	top: 1vh;
	place-items: center;
}