body{
	background-color: rgb(25, 34, 48);
}

@font-face{
	font-family: BebasNeue;
	src: url(../fonts/Bebas_Neue/BebasNeue-Regular.ttf);
}

@font-face{
	font-family: NotoSans;
	src: url(../fonts/Noto_Sans/static/NotoSans-Medium.ttf);
}

.title_font{
	font-family: BebasNeue;
}

.normal_font{
	font-family: NotoSans;
}

.content{
	background: white;
	border-radius: 5px;
	margin-left: 100px;
	margin-right: 100px;
}

.img{
	border-radius: 5px;
}

.btn{
	border-color: white;
	background: rgb(30, 49, 79);
	height: 40px;
}